.cardbox {
    display: flex;
    flex: auto;
    height: 150px;
    aspect-ratio: 1/1;
    margin: 10px;
    cursor: pointer;
  }

  .img {
    flex: 1;
  }
  
  .cover {
    background-color: pink;
    flex: 1;
  }

  .hidden {
    background-color: transparent;
    pointer-events: none;
  }
